.container {
	width: 960px;
	background-color: #ffff;
	font-family: Calibri;
	font-weight: 400;
	font-size: 48px;
	padding-left: 32px;
	padding-top: 24px;
}

.welcome {
	font-family: Calibri;
	color: #4f4f4f;
	font-weight: 100;
	font-size: 24px;
	margin: auto;
	margin-top: 300px;
}
